* {
  font-family: "Montserrat", "Roboto", sans-serif;
}

body {
  margin: 0px;
}

.App {
  background: #232137;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  text-align: center;
  color: aquamarine;
  font-size: 2rem;
  text-shadow: 0 0 3px greenyellow;
}

/* ------------------------- NavBar  ------------------------- */

.navbarContainer {
  height: 10em;
  margin-bottom: 10px;
  background: linear-gradient(black, #232137);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.linkNavBar {
  text-decoration: none;
}

.navbarContainer p {
  text-decoration: none;
  font-size: 2.5rem;
  color: aquamarine;
  display: block;
  transition: 500ms;
  font-family: "get_schwiftyregular";
}

.navbarContainer p:hover {
  font-weight: bolder;
  font-size: 3rem;
  text-shadow: 0 0 5px greenyellow;
}

/* ------------------------- End NavBar  ------------------------- */

/* ------------------------- Home ------------------------- */

.imageMain {
  display: flex;
  justify-content: center;
}

/* ------------------------- End Home  ------------------------- */

/* ------------------------- Characters  ------------------------- */

.charactersContainer {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  height: 120%;
  margin-bottom: 20px;
}

.characterCard {
  background-color: #222831;
  height: 20rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 8px aquamarine;
  color: white;
  font-weight: bold;
}

.characterName {
  margin-top: 15px;
  font-size: 1.2em;
  color: aquamarine;
  text-shadow: 0 0 2px greenyellow;
  transition: 100ms;
}

.characterName:hover {
  text-shadow: 0 0 4px greenyellow;
}

.linkCharacterName {
  text-decoration: none;
  color: white;
}

.characterImage {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #232137;
  margin-top: 20px;
  transition: 0.5s;
}

.characterImage:hover {
  box-shadow: 0 10px 50px greenyellow;
}

.characterCard p {
  margin: 0;
  display: inline;
}

.alive {
  color: greenyellow;
}

.dead {
  color: #ff6347;
}

.male {
  color: #48d1cc;
}

.female {
  color: #f08080;
}

.unknown {
  color: gainsboro;
}

/* ------------------------- End Characters  ------------------------- */

/* ------------------------- Users  ------------------------- */

.usersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usersTable {
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 1em;
  width: 80%;
  box-shadow: 0 0 5px aquamarine;
}

.usersTable thead tr {
  background-color: aquamarine;
  color: black;
  text-align: left;
}

.usersTable th,
.usersTable td {
  padding: 12px 15px;
}

.usersTable tbody tr:hover {
  color: greenyellow;
  text-shadow: 0 0 5px aquamarine;
}

.usersTable tbody tr {
  border-bottom: 1px solid aquamarine;
  background-color: #222831;
  color: #ffffff;
  font-weight: 500;
}

/* ------------------------- End Users  ------------------------- */

/* ------------------------- Form  ------------------------- */

.formContainer {
  display: flex;
  justify-content: center;
}

form {
  padding: 2rem;
  width: 60%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

form label,
legend,
.printResults p {
  font-size: 1.2rem;
  color: white;
}

form textarea {
  width: 94%;
  padding: 1.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  border-radius: 0.2rem;
}

form input {
  color: black;
  width: 100%;
  font-size: 1.2rem;
  transition: 0.3s;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  border-radius: 0.2rem;
}

form input:hover,
form textarea:hover {
  border: solid greenyellow;
}

.button {
  font-size: 1.5rem;
  border: 0.1rem solid greenyellow;
  background-color: #eeeeee;
  color: black;
  width: 100%;
  transition: 0.5s;
  border-radius: 0.2rem;
  height: 2em;
}

.button:hover {
  background-color: greenyellow;
  box-shadow: 0 0 5px aquamarine;
}

.printResults h2 {
  text-align: center;
  color: aquamarine;
  font-size: 2.5em;
  text-shadow: 0 0 3px greenyellow;
}

.printResults h3 {
  text-align: center;
  color: aquamarine;
  font-size: 1.5em;
  text-shadow: 0 0 3px greenyellow;
}

.printResults p {
  text-align: center;
  margin-bottom: 1em;
}

/* ------------------------- End Form  ------------------------- */

/* ------------------------- Footer  ------------------------- */

.footerContainer {
  height: inherit;
  background: linear-gradient(#232137, black);
  color: aquamarine;
  order: 2;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.linksFooter {
  width: 50%;
  text-align: left;
  display: inline-block;
}

.linksIcons {
  color: aquamarine;
  font-size: 2.5rem;
  padding: 1rem;
  transition: 0.5s;
}

.linksIcons:hover {
  color: greenyellow;
}

.footerContainer p {
  display: inline;
  font-size: 1rem;
  color: white;
}

/* ------------------------- End Footer  ------------------------- */

/* ------------------------- Responsive   ------------------------- */

@media (max-width: 1100px) {
  /* ------------- Characters  ------------- */
  .charactersContainer {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    height: 120%;
    margin-bottom: 20px;
  }
}

@media (max-width: 900px) {
  /* ------------- Users  ------------- */

  .usersTable thead {
    display: none;
  }

  .usersTable tr td:first-child {
    background-color: aquamarine;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
  }

  .usersTable tbody td {
    display: block;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .imageMain {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  /* ------------- NavBar  ------------- */

  .navbarContainer {
    flex-direction: column;
    align-items: initial;
    text-align: center;
    height: auto;
  }

  .navbarContainer p {
    flex-direction: column;
    margin: 0 auto;
    margin: 1em;
    padding: 1em;
  }

  /* ------------- Characters  ------------- */

  .charactersContainer {
    display: flex;
    flex-direction: column;
    margin: 0 1.2em;
  }

  .characterCard {
    width: 300px;
    margin-bottom: 2em;
  }

  /* ------------- Form  ------------- */

  form {
    width: 80%;
  }

  form textarea {
    width: 86%;
  }

  /* ------------- Footer  ------------- */

  .footerContainer {
    width: auto;
    flex-wrap: wrap;
  }
}

/* ------------------------- End Responsive   ------------------------- */
